.container {
    width: 320px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.screen {
    height: 50px;
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    border: 2px solid #181616;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px; 
}


.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e0e0e0;
}

.operator {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #ffa500; 
}

.btn-clear {
    grid-column: span 2; 
}

.btn-equal {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333; 
    color: #fff; 
}

/* Media queries específicos para iPhone 12 Pro */

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {

    .container {
        width: 90vw;
        margin: 30px auto;
    }

    .keys {
        grid-template-columns: repeat(4, minmax(40px, 1fr));
    }

    .btn, .operator, .btn-clear, .btn-equal {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
}

